.comment {
  &__item {
    flex-shrink: 0;

    &--shrink--1 {
      flex-shrink: 1;
    }
  }
  &__icon {
    height: 50px;
    width: 50px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: #000;
  }

  &__likes {
    margin-right: 15px;
  }

  &__descr {
    flex-grow: 1;
    word-break: break-all;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    margin-top: 10px;
  }
}

