@import '../../styles/main.scss';

.comments {
  margin-top: 80px;
  margin-bottom: 40px;

  &__header {
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
    border-bottom: 2px solid $color-dark-gray;
    font-weight: 500;

    @media (min-width: 400px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__responses {
    text-align: center;

    @media (min-width: 400px) {
      text-align: start;
    }
  }

  &__sorts {
    display: flex;
    justify-content: center;

    @media (min-width: 400px) {
      justify-content: flex-start;
    }
  }

  &__comment {
    display: flex;
    padding: 20px 0;

    &:not(:first-child) {
      border-top: 1px solid $color-dark-gray;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-btn {
      background-color: $color-purple;
      transition-duration: $transition-duration-default;
    }
  }

  &__next-button {
    display: block;
    margin: 10px auto 0;
    padding: 8px;
    border: none;
    border-radius: $border-radius;
    background-color: $color-purple;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    transition: $transition-duration-default;

    &:hover,
    &:focus {
      box-shadow: 0 0 8px $color-purple;
    }
  }
}
